@model int

@if (Model > 0)
{
    <span class="absolute top-0 right-0 -mt-1 -mr-1 flex h-5 w-5 items-center justify-center">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
        <span class="relative inline-flex items-center justify-center rounded-full h-5 w-5 bg-purple-600 text-white text-[10px] font-bold">
            @(Model > 99 ? "99+" : Model.ToString())
        </span>
    </span>
}




































