@model MNBEMART.ViewModels.UserFormVM
@{
    ViewData["Title"] = "Thêm người dùng";
}
<h3>@ViewData["Title"]</h3>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Họ và tên</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Tài khoản</label>
        <input asp-for="Username" class="form-control" required />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Mật khẩu</label>
        <input asp-for="Password" class="form-control" type="password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Quyền</label>
        <select asp-for="Role" class="form-select" asp-items="ViewBag.Roles"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="example@email.com" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
</form>
